<link rel="stylesheet" href="/styles/style01.css">
<link href="https://fonts.googleapis.com/css?family=Alegreya:700i" rel="stylesheet"> 
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/general.js"></script>

<h1><a href="/" title="home">Budgest</a></h1>

<div id="userContainer">
    <% for (let i=0; i<userlist.length; i++) { %>
        <span class="namelist" hidden><%= userlist[i].nom %></span>
    <% if (i<8) { %>
        <a href="/login?name=<%=userlist[i].nom%>&err=0">
            <div class="logBlock user<%=userlist[i].role%> avat<%=userlist[i].avatar%>"></div>
            <%=userlist[i].nom%>
        </a>
    <% }} %>
</div>

<div id="newContainer">
    <div class="subBlock">
        nouvel utilisateur
    </div>
    <form id="subForm" action="/subscribe" method="post">
        <div id="errContainer" class="error"></div>

        <input type="text" name="name" id="name" placeholder="nom">
        <input type="password" name="pass" id="pass" placeholder="password">
        <input type="password" name="pass2" id="pass2" placeholder="confirmer password">
        <span class="childCheck">Ce compte est-il pour un enfant ?<input type="checkbox" name="role"></span>
        <input type="submit" class="subregist" value="+">
    </form>
</div>
<div id="filler"></div>

<script src="/js/index.js"></script>