<% include header.ejs %>


<div id="userContainer">
    <% for (let i=0; i<userlist.length; i++) { %>
        <span class="namelist" hidden><%= userlist[i].nom %></span>
    <% if (i<8) { %>
        <a href="/login?name=<%=userlist[i].nom%>&err=0">
            <div class="logBlock user<%=userlist[i].role%> avat<%=userlist[i].avatar%>"></div>
            <%=userlist[i].nom%>
        </a>
    <% }} %>
</div>

<div class="formContainer">
    <input type="button" value="Nouvel utilisateur" class="formBtn" onclick="toggleForm('subForm')">
    <form class="budForm" id="subForm" action="/subscribe" method="post" style="display: none">
        <div id="errContainer" class="error"></div>

        <input type="text" name="name" id="name" placeholder="nom">
        <input type="password" name="pass" id="pass" placeholder="password">
        <input type="password" name="pass2" id="pass2" placeholder="confirmer password">
        <span class="childCheck formFinal">Ce compte est-il pour un enfant ?<input type="checkbox" name="role"></span>
        <input type="submit" class="subregist formBtn" value="inscription">
    </form>
</div>
<div id="filler"></div>

<script src="/js/index.js"></script>