<% include header.ejs %>


<h2> <%= user %> </h2>


    <% if (type==="dep") { %>
        <h3>Nouvelle dépense</h3>
        <div class="formContainer">
        <form id="newForm" action="/profil/<%=user%>/newdep" method="post" class="budForm">
    <% } %>
    <% if (type==="rent") { %>
        <h3>Nouvelle entrée de fonds</h3>
        <div class="formContainer">
        <form id="newForm" action="/profil/<%=user%>/newrent" method="post" class="budForm">
    <% } %>
    <% if (type==="vir") { %>
        <h3>Nouveau virement</h3>
        <div class="formContainer">
        <form id="newForm" action="/profil/<%=user%>/newvir" method="post" class="budForm">
    <% } %>

        <div id="errContainer" class="error"></div>

        <label for="descr">
            <span>description</span>
            <input id="descr" name="descr" type="text">
        </label>

        <label for="montant">
            <span>montant</span>
            <input id="montant" name="montant" type="text">
        </label>

        <label for="date">
            <span>date</span>
            <input id="datepicker" name="date" type="text">
        </label>

        <label for="postorigin" class="formFinal">
            <% if (type==="dep"){ %> <span>Poste de dépense</span> <%}%>
            <% if (type==="rent"){ %> <span>Origine des revenus</span> <%}%>
            <% if (type==="vir"){ %> <span>Bénéficiaire</span> <%}%>

            <select id="postorigin" name="posto">

                <% postoList.forEach(function(data) { %>
                    <% if (data.id_post && type==="dep") { %>
                        <option value="<%=data.id_post%>"> <%=data.nom%> </option>
                    <% } %>
                    <% if (data.id_orig && type==="rent") { %>
                        <option value="<%=data.id_orig%>"> <%=data.nom%> </option>
                    <% } %>
                <% }) %>

                <% users.forEach(function(data) { %>
                    <option value="<%=data.nom%>"> <%=data.nom%> </option>
                <% }) %>

                <% if (type==="dep" || type==="rent") { %>
                    <option value="n_posto">Nouveau</option>
                <%}%>

            </select>
        </label>

        <label id="newposto" for="n_posto" class="formFinal">
            <span>Nouveau :</span>
            <input id="n_posto" name="n_posto" type="text">
        </label>

        <input type="submit" value="Envoyer" class="formBtn">
    </form>
</div>

<script src="/js/new.js" defer></script>
