<link rel="stylesheet" href="/styles/style01.css">
<link rel="stylesheet" href="/styles/table.css">


<h1><a href="/" title="home">Budge$t</a></h1>
<h2> <%= user %> </h2>

<h3>bienvenue sur votre interface de gestion</h3>

<div id="newbtnContainer">
    <a href="/profil/<%=user%>/new?type=dep"> nouvelle dépense </a>
    <a href="/profil/<%=user%>/new?type=rent"> nouvelle entrée d'argent </a>
    <a href="/profil/<%=user%>/new?type=vir"> nouveau virement </a>
</div>

<table>
    <tr>
        <th>Transaction</th>
        <th>Montant</th>
        <th>Date</th>
        <th>Poste/Origine</th>
    </tr>
    <% data.forEach(function(d) { %>
    <tr>
        <td><%=d.intitule%></td>
        <td>
            <% if (d.id_dep) { %>
                <span style="color:#ce2b37; font-weight:bold">-<%=d.montant%></span>
            <% } %>
            <% if (d.id_rent) { %>
                <span style="color:#009246; font-weight:bold">+<%=d.montant%></span>
            <% } %>
            <% if (d.id_vir) { %>
                <span style="color:#666547; font-weight:bold">-<%=d.montant%></span>
            <% } %>
        </td>
        <%  let date = d.common_date
            let jour = date.getDate()
            if (jour<10) {jour = "0"+jour}
            let mois = date.getMonth()+1
            if (mois<10) {mois = "0"+mois}
            let annee = date.getFullYear()
        %>
        <td><%=jour%>/<%=mois%>/<%=annee%></td>
        <td><%=d.origpost%></td>
    </tr>
    <% }) %>
</table>

